body {
  margin :0px;
  font-family: 'Gochi Hand', Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.notice {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  cursor: crosshair;
}