body {
  margin :0px;
  font-family: 'Gochi Hand', Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
:root {
  --white-color: #fff;
  --grey-light-color: #ddd;
  --admin-container-color: rgba(0, 0, 0, .9);
  --black-color: #000;
}
.title {
  position: absolute;
  top: 36px;
  left: 36px;
  font-size: 6vw;
  z-index: 2;
}
.title_title {
  position: relative;
  text-decoration: none;
}
.title_title a{
  text-decoration: none;
  color: rgba(182,103,157,1);
  color: rgba(182,103,157,1);
}
.title_title:after{
	content: "";
	display: block;
	position:  absolute;
	top: 42%;
	width: 0px;
	height: 36%;
	background-color: #E59500;
	opacity:  .6;
	z-index: -1;
	transition:  all .3s ease-in-out;
}
.title_title:hover:after{
	width: 100%;
}
.title_body {
  font-size: 1.2vw;
  width: 33vw;
}

@media screen and (max-width: 1240px) {
  .title {
    font-size: 4vw;
  }
  .title_body {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 14vw;
    top: 70px;
    left: 0px;
    text-align: center;
    width: 100%;
  }
}

.schedule__wrapper {
  padding: 30px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  font-family: 'Sarabun', Helvetica, sans-serif;
}
.misc_title {
  font-size: 28px;
  margin-bottom: 4px;
  font-family: 'Gochi Hand', Helvetica, sans-serif;
}
.schedule__container {
  margin-bottom: 22px;
}