body {
  margin :0px;
  font-family: 'Quicksand', Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
:root {
  --white-color: #fff;
  --grey-light-color: #ddd;
  --admin-container-color: rgba(0, 0, 0, .9);
  --black-color: #000;
  --color-panel: rgba(189, 160, 165, 1);
  --color-panel-text: #000;
  --color-lavender: #d9b1e6;
  --color-lavender-dark: #bd77d3;
  --color-pink: #fdd1de;
  --color-pink-mid: #dda5e1;
  --color-pink-dark: rgba(158,76,132,1);
}
.title {
  position: absolute;
  top: 36px;
  left: 36px;
  font-size: 3vw;
  z-index: 2;
}
.title_title {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px var(--color-pink-mid);
}
.title_title a{
  text-decoration: none;
  color: var(--white-color);
}
.title_title:after{
	content: "";
	display: block;
	position:  absolute;
	top: 42%;
	width: 0px;
	height: 36%;
	background-color: var(--color-pink);
	opacity:  .6;
	z-index: -1;
	transition:  all .3s ease-in-out;
}
.title_title:hover:after{
	width: 100%;
}
.title_body {
  font-size: 1.2vw;
  width: 33vw;
}
@media screen and (max-height: 588px){
	.title_body {
		display: none;
	}
}
@media screen and (max-width: 1240px) {
  .title {
    font-size: 4vw;
  }
  .title_body {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 14vw;
    top: 70px;
    left: 0px;
    text-align: center;
    width: 100%;
  }
}

.schedule__wrapper {
  padding: 30px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  font-family: 'Sarabun', Helvetica, sans-serif;
}
.misc_title {
  font-size: 28px;
  margin-bottom: 4px;
  font-family: 'Gochi Hand', Helvetica, sans-serif;
}
.schedule__container {
  margin-bottom: 22px;
}
.schedule__container--selected {
  color: var(--color-pink-dark);
}
#twitter__wrapper,
#twitch__wrapper,
#links__wrapper,
#schedule_wrapper {
  height: 100vh;
  overflow: auto;
  padding-top: 60px;
  box-sizing: border-box;
}
.panel_toggle {
  position: absolute;
  top: 10px;
  left : 7px;
  z-index: 2;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-link);
  transition: .2s ease-out;
}
.panel_toggle:hover {
  color: var(--color-link-hover);
}
.panel_toggle--left {
  left: auto;
  right: 12px;
}

@media screen and (max-width: 768px){
  .panel_toggle {
    display: none;
  }
}