.stream_wrapper {
  width: calc(100vw - 60px);
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  transition: .4s ease-out;
}
.stream_wrapper--hidden {
  transform: translateY(100vh);
}
.stream_wrapper--reverse {
  flex-direction: row-reverse;
}
.stream_bigscreen {
  width: calc(100vw - 400px);
}
.stream_chat {
  width: 340px;
  display: flex;
  flex-direction: column;
}
.stream_chat__top {
  height: 40px;
  width: 100%;
  background-color: #16191e;
  color: #ddd;
  line-height: 40px;
  display: flex;
  justify-content: flex-end;
}
.stream_chat__bottom {
  height: calc(100% - 40px);
  width: 100%;
}
.stream_chat__icon {
  cursor: pointer;
  padding: 0px 7px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition:.2s ease-out;
}
.stream_chat__icon:hover {
  color: #04858e;
}
.stream_wrapper--resize .stream_bigscreen {
  width: 100%;
}
.stream_wrapper--resize .stream_chat{
  display: none;
}

@media screen and (max-width: 768px) {
  .stream_wrapper {
    width: 100vw;
    height: calc(100vh - 40px);
    top: 40px;
    flex-direction: column;
  }
  .stream_bigscreen {
    width: 100%;
    height: 50%;
  }
  .stream_chat {
    width: 100%;
    height: 50%;
  }
  .stream_chat__top {
    display: none;
  }
  .stream_chat__bottom {
    height: 100%;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .stream_wrapper {
    width: 100vw;
    height: calc(100vh - 40px);
    top: 40px;
    flex-direction: column;
  }
  .stream_bigscreen {
    width: 100%;
    height: 100%;
  }
  .stream_chat {
    display: none;
  }
  .stream_chat__top {
    display: none;
  }
  .stream_chat__bottom {
    display: none;
  }
}


.stream_navbar {
  height: 40px;
  top: -40px;
  width: 100vw;
  position: absolute;
  background-color: #111;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition:.2s ease-out;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 24px;
  box-sizing: border-box;
  font-weight: 600;
}
.stream_navbar--stream {
  transform: translateY(40px);
}
.stream_navbar a {
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition:.2s ease-out;
  text-decoration: none;
  color: #fff;
}
.stream_navbar a:hover {
  color: #666;
}
