.label {
  width: 100%;
  position: fixed;
  text-align: center;
  color: #fff;
  top: 0px;
  font-size: 14px;
  padding: 14px 0px;
}

.canvas_container {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
.text_block {
  position: fixed;
  right: 80px;
  bottom: 20px;
  background-color: rgba(182,103,157,1);
  padding: 20px 40px;
  color: #fff;
  transition: .2s ease-out;
  font-size: 36px;
}
.text_block:hover {
  background-color: rgba(158,76,132,1);
}

@media screen and (max-width: 768px){
  .text_block {
    right: 20px;
  }
}