.canvas_container {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
.text_block {
  position: fixed;
  right: 80px;
  bottom: 20px;
  padding: 20px 40px;
  color: rgba(182,103,157,1);
  transition: .2s ease-out;
  font-size: 6vw;
}
.text_block:after{
	content: "";
	display: block;
	position:  absolute;
	top: 42%;
	width: 0px;
	height: 36%;
	background-color: #E59500;
	opacity:  .6;
	z-index: -1;
	transition:  all .3s ease-in-out;
}
.text_block:hover:after{
	width: 110%;
}

@media screen and (max-width: 768px){
  .text_block {
    right: 0px;
    width: 100vw;
    box-sizing: border-box;
    bottom: 0px;
    padding: 20px 0px;
    text-align: center;
  }
}

.social_count__wrapper {
	position: absolute;
	bottom: 25px;
	left: 25px;
	color: #fff;
	display: flex;
}
.social_count__container {
	min-width: 90px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: rgba(182,103,157,1);
	padding: 14px;
	box-sizing: border-box;
	transition: .2s ease-out;
}
.social_count__container:hover {
	background-color: rgba(158,76,132,1);
	color: #fff;
}
.social_count__text {
	font-size: 24px;
}
.social_count__wrapper a {
	color: #fff;;
	text-decoration: none;
}
@media screen and (max-width: 768px){
	.social_count__wrapper {
		display: none;
	}
}