.canvas_container {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
.text_block {
  position: fixed;
  right: 80px;
  bottom: 20px;
  padding: 20px 40px;
  color: rgba(182,103,157,1);
  transition: .2s ease-out;
  font-size: 6vw;
}
.text_block:after{
	content: "";
	display: block;
	position:  absolute;
	top: 42%;
	width: 0px;
	height: 36%;
	background-color: #E59500;
	opacity:  .6;
	z-index: -1;
	transition:  all .3s ease-in-out;
}
.text_block:hover:after{
	width: 100%;
}

@media screen and (max-width: 768px){
  .text_block {
    right: 0px;
    width: 100vw;
    box-sizing: border-box;
    bottom: 0px;
    text-align: center;
  }
}