.canvas_container {
  position: fixed;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
	background-image: linear-gradient(var(--color-lavender), var(--color-pink));
}
.text_block {
  position: fixed;
  right: 100px;
	bottom: 40px;
	padding: 0px;
	color: var(--white-color);
	text-transform: uppercase;
  transition: .2s ease-out;
	font-size: 3vw;
	text-shadow: 2px 2px var(--color-pink-mid);
}
.text_block:after{
	content: "";
	display: block;
	position:  absolute;
	top: 42%;
	width: 0px;
	height: 36%;
	background-color: var(--color-lavender);
	opacity:  .6;
	z-index: -1;
	transition:  all .3s ease-in-out;
}
.text_block:hover:after{
	width: 100%;
}
@media screen and (max-width: 1240px) {
  .text_block {
    font-size: 4vw;
  }
}
@media screen and (max-width: 768px){
  .text_block {
    right: 0px;
    width: 100vw;
    box-sizing: border-box;
    bottom: 0px;
    padding: 20px 0px;
    text-align: center;
  }
}

.social_count__wrapper {
	position: absolute;
	bottom: 25px;
	left: 25px;
	color: #fff;
	display: flex;
}
.social_count__container {
	min-width: 90px;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: var(--color-lavender);
	padding: 14px;
	box-sizing: border-box;
	transition: .2s ease-out;
}
.social_count__container:hover {
	background-color: rgba(158,76,132,1);
	color: #fff;
}
.social_count__text {
	font-size: 24px;
}
.social_count__wrapper a {
	color: #fff;;
	text-decoration: none;
}
@media screen and (max-width: 768px){
	.social_count__wrapper {
		display: none;
	}
}