.navbar_wrapper {
  width: 60px;
  height: 100vh;
  background-color: rgba(182,103,157,1);
  position: fixed;
  right: 0px;
  top: 0px;
  color: rgba(158,76,132,1);
  font-size: 24px;
}
.navbar_wrapper a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}
.navbar_wrapper a:hover {
  color: rgba(189, 160, 165, 1);
}
.navbar_option {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0px 0px 0px;
  position: relative;
}
.navbar_option__container {
  position: relative;
}
.navbar_option__container:hover .navbar_option__overlay {
  opacity: 1;
  transform: translateY(-20px);
}
@media screen and (max-width: 768px){
  .navbar_wrapper {
    width: 100%;
    height: 40px;
    display: flex;
  }
  .navbar_option {
    width: auto;
    margin: 0px 6px;
    padding: 0px;
    align-items: center;
    height: 40px;
  }
}