.navbar__wrapper {
  width: 60px;
  height: 100vh;
  background-color: rgba(182,103,157,1);
  position: fixed;
  right: 0px;
  top: 0px;
  color: #432b6e;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 36px;
  box-sizing: border-box;
}
.navbar__wrapper a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}
.navbar__wrapper a:hover {
  color: rgba(158,76,132,1);
}
.navbar_option {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0px 0px 0px;
  position: relative;
}
.navbar_option__container {
  position: relative;
}
.navbar_option__overlay {
  opacity: 0;
  position: absolute;
  top: 52px;
  right: 50px;
  background-color: rgba(189, 160, 165, 1);
  padding: 14px;
  z-index:999;
  color: #000;
  font-size: 16px;
  transition: .3s ease-out;
  white-space: nowrap;
  pointer-events: none;
}
.navbar_option__container:hover .navbar_option__overlay {
  opacity: 1;
  transform: translateY(-20px);
}
@media screen and (max-width: 768px){
  .navbar__wrapper {
    width: 100%;
    height: 40px;
    display: flex;
  }
  .navbar__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px;
    box-sizing: border-box;
  }
  .navbar__socials {
    display: none;
  }
  .navbar_option {
    width: auto;
    margin: 0px;
    padding: 0px 6px;
    align-items: center;
    height: 40px;
  }
  .navbar_option__overlay {
    display: none;
  }
}