.twitter__wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 450px;
  height: 100vh;
  background-color: rgba(189, 160, 165, .97);
  transition: .4s ease-out;
  z-index: 3;
}
.twitter__wrapper--hidden {
  transform: translateX(-450px);
}
.twitter__wrapper {
  padding: 30px 0px;
  box-sizing: border-box;
}
.twitter__container {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  vertical-align: center;
}
.twitter__container a,
.twitter_header a {
  color: #6441a5;
  text-decoration: none;
  transition: .2s ease-out;
}
.twitter__container a:hover,
.twitter_header:hover a {
  color: #432b6e;
}
.twitter_object__image {
  max-width: 100%;
  margin: 14px 0px;
  cursor: pointer;
}
.twitter_icon {
  color: #38A1F3;
  transition: .2s ease-out;
}
.twitter_icon:hover,
.twitter_header:hover .twitter_icon {
  color: #0d7bd2;
}
.twitter_object {
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 2px solid rgba(182,103,157,1);
}
.twitter_header {
  font-size: 36px;
  display: flex;
  justify-content: center;
}
.twitter_object__bottom {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}
.twitter_object__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.twitter_object__action {
  padding: 0px 6px;
}

@media screen and (max-width: 768px) {
  .twitter__wrapper {
    width: 100vw;
    top: 40px;
    height: calc(100vh - 40px);
  }
  .twitter__wrapper--hidden {
    transform: translateX(-100vw);
  }
}
.twitter_time {
  font-size: 14px;
}

/*======================================
=          TWITTER LIGHTBOX           =
======================================*/
.twitter_lightbox__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.9);
  pointer-events: none;
  z-index: 5;
}
.twitter_lightbox__wrapper--display {
  display: flex;
  pointer-events: auto;
}
.twitter_lightbox__image {
  max-height: 100vh;
  max-width: 100vw;
  padding: 14px;
  box-sizing: border-box;
}
.twitter_lightbox__close {
  color: #fff;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
}