.twitter__wrapper {
  position: fixed;
  right: 60px;
  top: 0px;
  width: 450px;
  height: 100vh;
  background-color: var(--color-lavender);
  transition: .4s ease-out;
  color: var(--color-panel-text);
  box-sizing: border-box;
  box-shadow: 0px 0px 100px -10px rgba(0,0,0,0.5);
  z-index: 4;
}
.twitter__wrapper .scroll-content {
  padding-bottom: 80px;
}
.twitter__wrapper--right.twitter__wrapper--hidden {
  transform: translateX(510px);
}
.twitter__wrapper--left {
  right: auto;
  left: 0px;
}
.twitter__wrapper--left.twitter__wrapper--hidden {
  transform: translateX(-450px);
}

.twitter__container {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  vertical-align: center;
}
.twitter__container a,
.twitter_header a {
  color: #6441a5;
  text-decoration: none;
  transition: .1s ease-out;
}
.twitter__container a:hover,
.twitter_header:hover a {
  color: var(--color-pink);
}
.twitter_object__image_container {
  margin: 14px 0px;
  overflow: hidden;
}
.twitter_object__image {
  width: 100%;
  cursor: pointer;
  transition: .2s ease-out;
}
.twitter_object__image:hover {
  transform: scale(1.05, 1.05);
}
.twitter_icon {
  color: #38A1F3;
  transition: .2s ease-out;
}
.twitter_icon:hover,
.twitter_header:hover .twitter_icon {
  color: #0d7bd2;
}
.twitter_object {
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 2px solid rgba(182,103,157,1);
  font-family: 'Sarabun', Helvetica, sans-serif;
}
.twitter_header {
  font-size: 36px;
  display: flex;
  justify-content: center;
}
.twitter_object__bottom {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}
.twitter_object__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.twitter_object__action {
  padding: 0px 6px;
}

@media screen and (max-width: 768px) {
  .twitter__wrapper {
    width: 100vw;
    top: 40px;
    height: calc(100vh - 40px);
    left: 0px;
    right: auto;
  }
  .twitter__wrapper--hidden {
    transform: translateX(-100vw);
  }
  .twitter__wrapper--left {
    right: auto;
    left: 0px;
  }
  .twitter__wrapper--left.twitter__wrapper--hidden {
    transform: translateX(-100vw);
  }
  .twitter__wrapper--right.twitter__wrapper--hidden {
    transform: translateX(-100vw);
  }
  .twitter__container,
  .schedule__wrapper {
    padding-bottom: 200px;
  }
}
.twitter_time {
  font-size: 14px;
}

/*======================================
=          TWITTER LIGHTBOX           =
======================================*/
.twitter_lightbox__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.9);
  pointer-events: none;
  z-index: 5;
}
.twitter_lightbox__wrapper--display {
  display: flex;
  pointer-events: auto;
}
.twitter_lightbox__image {
  max-height: 100vh;
  max-width: 100vw;
  padding: 14px;
  box-sizing: border-box;
}
.twitter_lightbox__close {
  color: #fff;
  position: fixed;
  top: 20px;
  right: 90px;
  font-size: 36px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .twitter_lightbox__close {
    top: 60px;
    right: 20px;
  }
}